/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.fixed-size {
  max-width: 510px !important;
  max-height: 430px !important;
}

.min-w {
  max-width: 157px !important;
}


