<div class="container h-100 d-flex align-items-center justify-content-center">
  <div class="border rounded bg-light fixed-size">
    <div class="m-5">
      <div class="row justify-content-center">
        <form>
          <div class="col-xs-12">
            <label for="price">Precio: </label>
            <input
              class="form-control"
              type="number"
              name="price"
              [(ngModel)]="price"
              (change)="calculate()"
            />
          </div>

          <div class="col-xs-12">
            <label for="strike">Strike: </label>
            <input
              class="form-control"
              type="number"
              name="strike"
              [(ngModel)]="strike"
              (change)="calculate()"
            />
          </div>

          <div class="col-xs-12">
            <label for="bid">Bid: </label>
            <input
              class="form-control"
              type="number"
              name="bid"
              [(ngModel)]="bid"
              (change)="calculate()"
            />
          </div>
        </form>
      </div>

      <div class="row">
        <div class="d-flex justify-content-center">
          <span class="border border-primary rounded my-4 py-4">
            <span class="col-xs-12 p-4 min-w">Costo: {{ cost | number: '1.2-2'}}</span>
            <span class="col-xs-12 P-4 min-w">Lucro: {{ profit | number: '1.2-2'}}</span>
            <span class="col-xs-12 p-4 min-w">Interés: {{ interest | number: '1.2-2'}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
